
.navbar.navbar-inverse.navbar-fixed-top{
  display:inline-block;
}

.navbar-brand img{
  width: 75%;
  margin-top: -10px;
}

a.navbar-brand{
  display:inline-block;
  width: 15%;
}

.nav.navbar-nav.navbar-right{
  margin-top: -50px;
  display: inline-block;
}
